@import "../../../styles/variables/colors.scss";

.course-item {
  border: 1px solid $c-gainsboro;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;

  &__actions {
    margin-left: auto;
  }

  &__button {
    margin-bottom: 15px;
  }
}
