@import "../../styles/variables/colors.scss";

.main-navbar {
	height: 60px;
	background-color: $c-cornflower-blue;
	color: $white;

  &__wrapper {
    display: flex;
  }

  &__auth-panel {
    margin-left: auto;
  }

  &__list-course {
    margin-left: 20px;
  }
}
