.logo {
  &__icon {
    width: 85px;
    height: 30px;
    background-image: url('./assets/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
}
