@import "styles/variables/colors.scss";

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 85%;
}

.has-error {
  color: $c-red;
}

input.has-error {
  border: 1px solid $c-red;
}
