@import "../../../styles/variables/colors.scss";

.course-item-header {
  display: flex;
  margin-right: 15px;
  margin-bottom: 15px;

  &__separate {
    margin-right: 15px;
    margin-left: 15px;
  }

  &__duration {
    margin-right: 5px;
  }

  &__date {
    margin-left: auto;
  }
}
