.top-rated {
  &__icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./assets/ic_star_border.svg');
    background-size: 100%;
    cursor: pointer;
  }

  &__icon-star {
    background-image: url('./assets/ic_star.svg');
  }
}
