<div class="auth-drop-down btn-group" dropdown>
  <button id="single-button" type="button" class="btn btn-secondary" dropdownToggle>
    Menu<span class="caret"></span>
  </button>
  <ul dropdownMenu role="menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="single-button">
    <li role="menuitem" *ngIf="!isLogin">
      <a class="dropdown-item" [routerLink]="'login'" routerLinkActive="active">Login</a>
    </li>
    <li role="menuitem" *ngIf="isLogin">
      <a href="#" class="dropdown-item">Logout</a>
    </li>
  </ul>
</div>
